* {
    margin: 0;
    padding: 0;
    border: 0;
}

*:focus-visible {
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    box-shadow: none;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --btn-blue: #0094ff;
    --main-green: #53b653;
    --main-font: Helvetica, 'Roboto', Arial, sans-serif;
    --roboto-font: 'Roboto', Arial, sans-serif;
    --heebo-font: 'Heebo', Arial, sans-serif;
    --font-main-color: #000;
    --stars-bgr: #FFCE50;
    --dark-bgr: #0e0f13;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: white;
    color: var(--font-main-color);
    font-family: var(--main-font);
    min-width: 320px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}

section {
    max-width: 1360px;
    margin: 0 auto;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (max-width: 960px) {
    section {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.button {
    background-color: var(--btn-blue);
    font-size: 16px;
    line-height: 1;
    border-radius: 20px;
    padding: 20px 50px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--main-green);
    transition: background-color ease-out 0.2s;
}

@media screen and (max-width: 1024px) {
    .button {
        padding: 15px 35px;
    }
}

h2 {
    color: var(--main-green);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 60px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 40px;
}

.text {
    margin-bottom: 20px;
}

ul,
ol,
.text {
    font-family: var(--heebo-font);
    line-height: 1.7;
}



li::marker {
    color: var(--btn-blue);
}

.flex-text {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-text-left>div:last-child,
.flex-text-right>div:first-child {
    width: 50%;
}

.flex-text-left>div:first-child,
.flex-text-right>div:last-child {
    width: 45%;
    text-align: center;
}

ul:not(.splide__list),
ol {
    margin-bottom: 20px;
    padding-inline-start: 28px;
}

ul,
ol {
    list-style-type: none;
}

ul:not(.splide__list) li {
    padding: 0 12px;
}

li span {
    position: relative;
}

ul:not(.splide__list) li span::before {
    content: '\2022';
    font-size: 28px;
    line-height: 18px;
    color: var(--btn-blue);
    position: absolute;
    left: -15px;
    top: 5px;
}

ol li:nth-child(1) span::before {
    content: '1.';
}

ol li:nth-child(2) span::before {
    content: '2.';
}

ol li:nth-child(3) span::before {
    content: '3.';
}

ol li:nth-child(4) span::before {
    content: '4.';
}

ol li:nth-child(5) span::before {
    content: '5.';
}

ol li span::before {
    color: var(--btn-blue);
    margin-right: 4px;
}

@media screen and (max-width: 768px) {

    ul:not(.splide__list) li,
    ol li {
        text-align: center;
    }

    ul:not(.splide__list) li span::before {
        top: 3px;
    }

    .flex-text-left,
    .flex-text-right {
        display: block;
    }

    .flex-text-left div,
    .flex-text-right div {
        width: 100% !important;
    }

    .text,
    ul,
    ol {
        font-size: 14px;
    }

    ul,
    ol {
        padding-inline-start: 0;
    }


    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }


    /* 
    ul:not(.splide__list) li,
    ol li {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }

    ul:not(.splide__list) li::before {
        content: '\2022';
        font-size: 28px;
        line-height: 18px;
        margin-right: 8px;
        color: var(--btn-blue);
        margin-top: 4px;
    }

 */

    .text,
    h3 {
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
}

.app-btn,
.app-btn-1 {
    transition: opacity 0.2s ease-out;
}

.app-btn:hover,
.app-btn-1:hover {
    opacity: 0.8;
}


table.info {
    border-radius: 6px;
    border-collapse: collapse;
    margin-bottom: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

table.info td,
table.info th {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px 12px;
}

table.info th {
    background-color: var(--btn-blue);
    color: white;
    text-align: left;
    font-weight: 600;
}

table.info-light,
table.info-light td,
table.info-light th {
    border-color: rgba(0, 0, 0, 0.5);
}